﻿        #f3Tags {
            padding: 2px;
            line-height: 3em;
            text-align: center;
        }

            #f3Tags span {
                display: inline-block;
                list-style-type: none;
                margin: 2px;
                text-decoration: none;
            }

                #f3Tags span:hover {
                    background-color: lightgray;
                    text-decoration: underline;
                    cursor: pointer;
                }


        .menu {
            display: inline-block;
            cursor: pointer;
            color: blueviolet;
        }

            .menu:hover {
                background-color: lightgray;
                text-decoration: underline;
                cursor: pointer;
            }

        #loading {
            position: absolute;
            padding: 20px;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 30px;
            background-color: azure;
        }

        .cloud td {
            vertical-align: top;
        }